#contact {
  height: 100vh;
}
.contact_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 16px;
}
.contact_title {
  color: var(--black100);
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.3vw;
  white-space: nowrap;
}

.contact_text {
  width: 100%;
  height: 40vh;
  background-color: black;
  background: url(../../img/intro.jpg) center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  color: var(--white);
  cursor: all-scroll;
}
.contact_text .text {
  font-size: 3vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  position: relative;
  z-index: 100;
}
.contact_lines {
  width: 100%;
}
.contact_lines .line {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 0.5vw;
  background-color: var(--black100);
  background: url(../../img/contact.jpg) center;
  background-attachment: fixed;
  background-size: cover;
}
.contact_lines.top .line {
  margin-top: 0.5vw;
  display: none;
}
.contact_lines.bottom .line {
  margin-top: 0.5vw;
}
.contact_lines.top .line:nth-child(1) {
  height: 1px;
}
.contact_lines.top .line:nth-child(2) {
  height: 2px;
}
.contact_lines.top .line:nth-child(3) {
  height: 5px;
}
.contact_lines.top .line:nth-child(4) {
  height: 9px;
}
.contact_lines.top .line:nth-child(5) {
  height: 13px;
}
.contact_lines.top .line:nth-child(6) {
  height: 17px;
}
.contact_lines.top .line:nth-child(7) {
  height: 25px;
}

.contact_lines.bottom .line:nth-child(1) {
  height: 25px;
}
.contact_lines.bottom .line:nth-child(2) {
  height: 17px;
}
.contact_lines.bottom .line:nth-child(3) {
  height: 13px;
}
.contact_lines.bottom .line:nth-child(4) {
  height: 9px;
}
.contact_lines.bottom .line:nth-child(5) {
  height: 5px;
}
.contact_lines.bottom .line:nth-child(6) {
  height: 2px;
}
.contact_lines.bottom .line:nth-child(7) {
  height: 1px;
}

@media (max-width: 800px) {
  .contact_inner {
    justify-content: center;
  }
  .contact_lines.top .line {
    display: block;
  }
  .contact_text .text {
    font-size: 24px;
  }
}
