#port {
  margin-top: 30vh;
}
.port_inner {
}
.port_title {
  /* position: sticky;
  top: 70px;
  left: 0; */
  width: 100%;
  font-size: 4vw;
  font-family: var(--mainEng-font);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--black100);
  border-bottom: 0.4vw solid var(--black100);
  margin-bottom: 16px;
}
.port_wrap {
  display: flex;
  flex-wrap: nowrap;
  /* width: 7000px; */
  overflow: hidden;
}
.port_item {
  width: 500px;
  height: 70vh;
  background-color: var(--subBg100);
  padding: 2.5rem;
  margin-right: 20px;
  flex-shrink: 0;
}
.port_item.p1 {
  background-color: var(--subBg100);
}
.port_item.p2 {
  background-color: var(--subBg200);
}
.port_item.p3 {
  background-color: var(--subBg300);
}
.port_item.p4 {
  background-color: var(--subBg400);
}
.port_item.p5 {
  background-color: var(--subBg500);
}
.port_item.p6 {
  background-color: var(--subBg400);
}
.port_item.p7 {
  background-color: var(--subBg300);
}
.port_item.p8 {
  background-color: var(--subBg200);
}
.port_item.p9 {
  background-color: var(--subBg100);
}
.port_item.p10 {
  background-color: var(--subBg200);
}
.port_item .num {
  font-size: 2rem;
  font-family: var(--mainNum-font);
}
.port_item a.img {
  display: block;
  margin-top: -20px;
  transition: margin-top 0.3s;
}
.port_item:hover a.img {
  margin-top: 0;
}
.port_item a.img img {
  border-radius: 5px;
  transition: filter 0.3s;
}
.port_item a.img:hover img {
  filter: saturate(0%);
}
.port_item .title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 600;
  color: var(--black100);
  border-bottom: 2px solid var(--black100);
  margin-bottom: 1rem;
}
.port_item .desc {
  font-size: 1rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.port_item a.site {
  border: 1px solid var(--black100);
  display: block;
  text-align: center;
  padding: 0.625rem 1.5rem;
  margin-top: 1.8rem;
}

@media (max-width: 800px) {
  .port_title {
    width: 100%;
    margin-bottom: 16px;
    font-size: 30px;
    height: auto;

    top: 68px;
    background-color: var(--mainBg-color);
    z-index: 1000;
  }
  .port_item {
    width: 400px;
    padding: 40px 30px;
    height: auto;
  }
}
