.event {
  padding: 100px 0;
}
.event h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.event img {
  display: block;
}
.event_inner {
  overflow: hidden;
  display: flex;
  /* gap: 2%; */
  justify-content: space-between;
  transform: translateY(600px);
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.4s;
}
.event_inner.active {
  transform: translateY(0);
  opacity: 1;
}
.event_inner .event_left {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
}
.event_left .event_box1 {
  width: 100%;
  margin-bottom: 2.25%;
}
.event_left .event_box2,
.event_left .event_box3 {
  width: 50%;
}
.event_inner .event_right {
  width: 32%;
}

/* 미디어 쿼리 */
@media (max-width: 1300px) {
  .container {
    width: 100%;
  }
  #event .row {
    /* padding: 0 36px; */
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
  #event {
    background-color: #d9d9d9;
  }
  #event .row {
    padding: 0 24px;
    background-color: #fff;
  }
  .event {
    padding: 24px 0;
  }
  .event h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .event_inner .event_left {
    width: 100%;
  }
  .event_inner .event_right {
    display: none;
  }
}
@media (max-width: 600px) {
  #event {
    padding: 16px;
  }
  #event .row {
    padding: 0 12px;
  }
  .event h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  #event {
    padding: 12px;
  }
  #event .row {
    padding: 0 12px;
  }
  .event h2 {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
}
