html {
  scroll-behavior: smooth;
  font-size: clamp(10px, 1vw, 16px);
}

body {
  background-color: #f5f1e8;
}

/* 공통 */
.container {
  width: 1700px;
  margin: 0 auto;
}

/******************* sec1 **********************/
#sec1 {
  height: 900px;
  background: url("../img/ABOUT_BG.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.sec_title {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: 500;
  color: #2c2a28;
  margin-top: 300px;
  margin-left: 10vw;
}
.sec_title span {
  display: inline-block;
  transform: translateY(50px);
  opacity: 0;
}

.sec1_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 55px;

  padding-top: 25px;
  padding-bottom: 18px;

  padding-right: 25px;
  box-sizing: border-box;
  height: auto;
  transition: all 0.5s;
}
.sec1_menu.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  background-color: #2c2a284b;
}
.sec1_menu li a {
  font-family: "Noto Serif KR";
  font-size: 18px;
  color: #fff;
  padding-bottom: 16px;
}
.sec1_menu.fixed li a {
  color: #2c2a28;
}

.sec1_menu li.active a {
  border-bottom: 5px solid #fff;
}

.sec1_menu.fixed li.active a {
  border-bottom: 5px solid #2c2a28;
}

/**************sec2 ******************/
#sec2 {
  padding: 150px 0;
  background: #f5f1ec;
  /* text-align: center; */
}

.sec2_title {
  width: 100px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 600;
  color: #2c2a28;
  text-align: center;
  border-bottom: 5px solid #2c2a28c9;
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}

/* 여기부터 핵심 변경 */
.text_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  grid-auto-rows: 1fr;
}

/* 공통 박스 */
.text_box > div {
  width: 100%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;

  height: 100%;
  min-height: 260px;
}

/* 텍스트 스타일 */
.box_title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 600;
  color: #2c2a28;
}

.box_text {
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #2c2a28;
}

/*******************sec3 *******************/
#sec3 {
  padding: 120px 0 25rem 0;
  background: #f5f1ec;
  min-height: 700px;
}

.global_title {
  width: 280px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 600;
  color: #2c2a28;
  border-bottom: 5px solid #2c2a28c9;

  margin: 0 auto;
}

/* 지도 */
.global_map {
  padding-top: 100px;
  width: 100%;

  height: auto;
  position: relative;
}
.global_map .map_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.global_map .map_bg img {
  width: 100%;
  vertical-align: middle;
}

/* 숫자 */

.global_text {
  position: absolute;
  left: 50%;
  top: 150%;
  /* line-height: 1; */
}

.global_number {
  position: relative;
  display: inline-flex;
  font-size: 20rem;
  margin-bottom: 2rem;
  gap: 1rem;
}
.plus {
  position: absolute;
  top: 0.5em;
  right: -0.5em;
  font-size: 0.35em;
}

.countries {
  font-family: "Playfair Display", serif;
  position: absolute;
  left: 69%;
  bottom: -1em;
  transform: translateX(-50%);
  font-size: 0.12em;
}

/* count */
.global-count-num-box {
  font-size: 20rem;
  font-family: "Playfair Display", serif;
  display: flex;
  /* overflow: hidden; */
  height: 22rem;
}

.count-num-item-wrap {
  height: 24rem;
  overflow: hidden;
}

.count-num-item-box {
  transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.count-num-item {
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  font-family: "Playfair Display", serif;
}

.global_desc {
  margin-top: 30px;
}

.Gdesc_title {
  display: block;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Pretendard";
  color: #2c2a28;
  margin-bottom: 10px;
}

.Gdesc_text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Pretendard";
  line-height: 1.2;
  color: #2c2a28;
}

/* 마커들 */
.marker_box .marker {
  position: absolute;
  top: 0;
  left: 50%;
  box-shadow: 19px 16px 35px 0px rgba(31, 31, 31, 0.11);
  border-radius: 1.5rem;
}
.marker_box .marker.seoul {
  width: 6%;
  padding: 0.5rem 0.9rem;
  border-radius: 2rem;
  margin-left: -22.5%;
  margin-top: 25.8%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.marker_box .marker.global_point {
  margin-left: -17.7%;
  margin-top: 29.7%;
}
.marker_box .marker.germany {
  width: 5%;
  padding: 0.5rem 0.9rem;
  border-radius: 2rem;
  margin-left: -46%;
  margin-top: 25%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.marker_box .marker .dots {
  position: relative;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background: #000;
}
.marker_box .marker .dots .wave {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100%;
  opacity: 0;
  animation: ani-wave 3s cubic-bezier(1, 2, 0.66, 3) infinite;
}

@keyframes ani-wave {
  0% {
    transform: translate(-50%, -50%) scale(10.875);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(40);
    opacity: 0;
  }
}

/*******************sec4 *******************/
.sec4_content_wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 4%;
}

.branch_group {
  width: 48%;
  text-align: left;
}

.map_item {
  margin-top: 40px;
  width: 100%;
}

#sec4 {
  padding: 30rem 0 150px 0;
  box-sizing: border-box;
  text-align: center;
}

.sec4_title {
  font-family: "Noto Serif KR";
  font-size: 30px;
  font-weight: 600;

  border-bottom: 5px solid #2c2a28c9;
  display: inline-block;
  margin-bottom: 100px;
}

.sec4_table {
  margin: 0 auto 40px;
  font-family: "Pretendard";
  font-size: 16px;
  text-align: left;
}
.sec4_table td {
  word-break: keep-all;
}
.sec4_table td:first-child {
  margin-right: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  display: inline-block;
}
.table_wrap {
  display: flex;
}
.map {
  width: 80%;
  margin: 0 auto 200px;

  position: relative;
  padding-bottom: 18%;
  height: 0;

  display: flex;
  justify-content: space-between;
}

/* topBtn */
#topBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 40px;
  color: #f5f1e8a8;

  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

/********************************************/
/********************반응형******************/
/********************************************/

@media (max-width: 1700px) {
  .container {
    width: 90%;
    max-width: 1700px;
  }
}
@media (max-width: 1300px) {
  .map {
    width: 90%;
  }
  #sec4 {
    padding: 15rem 0 150px 0;
  }
}

@media (max-width: 980px) {
  .navMobile nav {
    position: fixed;
  }
  .sec2_title {
    font-size: 25px;
    margin-bottom: 70px;
  }

  .box_title {
    font-size: 30px;
  }

  .box_text {
    font-size: 17px;
  }

  .text_box {
    display: block;
  }

  .text_box > div {
    width: 100%;
    padding: 40px;
    height: auto;
    margin-bottom: 20px;
  }

  .marker_box .marker {
    top: -10%;
  }
  .global_title {
    font-size: 25px;
    width: 234px;
  }
  .sec4_title {
    font-size: 25px;
  }

  .sec4_content_wrap {
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
    gap: 80px; /* 서울 세트와 독일 세트 사이 간격 */
  }

  .branch_group {
    width: 100%; /* 너비 꽉 채우기 */
  }

  .sec4_table {
    margin-bottom: 20px;
  }
  #sec4 {
    padding: 0 0 150px 0;
  }
  .map_item iframe {
    height: 300px; /* 모바일에서 지도 높이 조절 */
  }
}

@media (max-width: 720px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  #sec1 {
    height: 400px;
  }

  .sec_title {
    font-size: 70px;
    margin-top: 180px;
    margin-left: 0;
    text-align: center;
  }
  .sec1_menu {
    display: none;
  }
  .sec1_menu li a {
    font-size: 16px;
  }
  .text_box > div {
    width: 100%;
  }

  .box_1,
  .box_2,
  .box_3,
  .box_4 {
    align-self: center;
  }
  .map {
    width: 95%;
  }
  #topBtn {
    display: none;
  }

  .text_box {
    gap: 10px;
  }

  .text_box > div {
    width: 100%;
    padding: 40px;
    height: auto;
  }

  #sec2 {
    padding: 80px 0;
  }
  .marker_box .marker {
    top: 10.5%;
  }
  .global_map .map_bg {
    position: static;
  }
  .global_text {
    position: static;
    padding: 0 8%;
  }

  .count-num-item {
    font-size: 10rem;
  }
  .countries {
    margin-top: -8rem;
  }
  .marker_box .marker.germany {
    width: 10%;
  }

  @keyframes ani-wave {
    0% {
      transform: translate(-50%, -50%) scale(10.875);
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: translate(-50%, -50%) scale(20);
      opacity: 0;
    }
  }

  /* #sec3 {
    padding: 0 0 80px 0;
    height: 500px;
  } */
}

@media (max-width: 480px) {
  .sec_title {
    font-size: 50px;
    margin-top: 130px;
  }

  .sec1_menu {
    right: 40px;
    gap: 35px;
  }
  .sec1_menu li a {
    font-size: 15px;
  }
  .map {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .sec4_table {
    font-size: 16px;
  }
  .marker_box .marker.global_point {
    margin-top: 31.7%;
  }
  .marker_box .marker {
    top: 10.5%;
  }
}
